
@{
    ViewBag.Title = "FeedBack";
}
<!DOCTYPE html>
<html lang="en">
	
	<body id="page5">
		<div class="main">
<!--header -->
			<header>
				<div class="wrapper">
					<h1><a href="index.html" id="logo">Superior.com</a></h1>
					
				</div>
				<nav>
                    <ul id="menu">
                        <li><a href="../Pictures/Upload"><span>Upload</span></a></li>
                        <li><a href="../Account/Profile"><span>Profile	</span></a></li>
                        <li><a href="../Pictures/Gallery"><span>Gallery</span></a></li>
                        <li><a href="../Pictures/Delete"><span>Delete</span></a></li>
                        <li class="last active"><a href="../Account/Feedback"><span>FeedBack</span></a></li>
                    </ul>
				</nav>
			</header>
<!--header end-->
<!--content -->

		<article id="content">
				<div class="wrapper" style="margin:50px 0 150px 0;">
					<h2>Please give your feedback</h2>
					<br>
					<form id="ContactForm" name="feedback" method="post">
						<div style="padding-right:80px;">
							<div  class="textarea_box">
								<span>Feedback:</span>
								<div class="bg"><textarea name="textarea" cols="1" rows="1" style="width:740px;"></textarea></div>								
							</div>
							<br>
							<div style="float:left; padding-bottom:25px;">
							<input class="button1" type="submit" name="Submit" value="Send">
							</div>
						</div>
					</form>
					<article id="content">
			<h2 style="color:yellow; padding-left:30px;">Thanks for your feedback!</h2>
				</div>
			</article>
		</div>
		<div class="bg1">
			<div class="main">
				<article id="content2">
					<div class="wrapper">
					</div>
				</article>
			</div>
		</div>
	
	</body>
</html>