
@{
    ViewBag.Title = "Home";
}
<!DOCTYPE html>
<html lang="en">

	<body id="page5">
		<div class="main">
<!--header -->
			<header>
				<div class="wrapper">
					<h1><a href="index.html" id="logo">Picupload.com</a></h1>
					<div id="search">
							<a href="logout.html"><h1 style="padding-top:0px; font-size:20px;">
							</h1></a>
					</div>
				</div>
				<nav>
                    <ul id="menu">
                        <li class="active"><a href="../Pictures/Upload"><span>Upload</span></a></li>
                        <li><a href="../Account/Profile"><span>Profile	</span></a></li>
                        <li><a href="../Pictures/Gallery"><span>Gallery</span></a></li>
                        <li><a href="../Pictures/Delete"><span>Delete</span></a></li>
                        <li class="last "><a href="../Account/Feedback"><span>Request</span></a></li>
                    </ul>
				</nav>
			</header>
<!--header end-->
<!--content -->
			<article id="content">
				<div class="wrapper" style="margin:50px 170px 150px 170px;">
					<a href="../Pictures/upload"><img src="../Images/folder_web_upload.png"></a>
					<div style="text-align:center;padding-right:400px;"><a href="../Pictures/Upload"><h2 style="font-size:50px;">Start Uploading</h2></a></div>
				</div>
			</article>
		</div>
		<div class="bg1">
			<div class="main">
				<article id="content2">
					<div class="wrapper">
					
					</div>
				</article>
			</div>
		</div>
		
	</body>
</html>