
@{ViewBag.Title = "AboutUS";}
<!DOCTYPE html>
<html lang="en">
<body id="page2">
		<div class="main">
<!--header -->
			<header>
                <div class="wrapper">
                    <h1><a href="Home/index" id="logo">PicUpload</a></h1>
                    <div id="search">
                        <a href="Home/index"><span><h1 style="padding-top:0px; font-size:20px;">Login</h1></span></a>
                    </div>
                </div>
				<nav>
					<ul id="menu">
						
                        <li> @Html.ActionLink("Home","Overview")</li>
                        <li><a href="../Home/Index"><span>Home</span></a></li>
                        <li class="active"><a href="../Home/aboutus"><span>About Us</span></a></li>
                        <li><a href="../Home/contacts"><span>Contact Us</span></a></li>
                        <li class="last"><a href="../Home/Signup"><span>SignUp</span></a></li> 
					</ul>
				</nav>
			</header>
<!--header end-->
<!--content -->
			
				<div class="wrapper">
					<div class="col2 marg_right1">
						<h2>Who We Are</h2>
						<div class="wrapper">
							<figure class="left marg_right1"><img src="~/images/page2_img1.jpg" alt=""></figure>
							<p class="color2 pad_bot1">We are students of Punjab University Collage of Information Technology</p>
							<p></p>
						</div>
						<p>	</p>
					</div>
                    <div class="col1">
                        <h2>Why Choose Us</h2>
                        <div class="wrapper">
                            <span class="dropcap_1">1</span>
                            <p class="pad_bot1">
                                <span class="color1">Security</span><br>
                                This is secure platform to upload pictures and save them
                            </p>
                        </div>
                        <div class="wrapper">
                            <span class="dropcap_1">2</span>
                            <p class="pad_bot1">
                                <span class="color1">Manageable albums</span><br>
                                We provide you facility to manage your pictures in albums
                            </p>
                        </div>
                        <div class="wrapper">
                            <span class="dropcap_1">3</span>
                            <p class="pad_bot1">
                                <span class="color1">Share with others</span><br>
                                You can share your pictures with others on famous social websites
                            </p>
                        </div>
                    </div>
				</div>
			
		</div>
		<div class="bg1">
			<div class="main">
				<article id="content2">
					<div class="wrapper">
						<div class="col1 marg_right1">
						<!--	<h2 class="color1">Ali Sindhu</h2>
							<p>Roll No: BITF11A056</br>Designation: Web Programmer</p>
						</div>
						<div class="col1 marg_right1">
							<h2 class="color1">Danyal Munir</h2>
							<p>Roll No: BITF11A044</br>Designation: Web Designer</p>
						</div>
						<div class="col1 marg_right1"> -->
							<h2 class="color1">Rana Osama</h2>
							<p>Roll No: BITF11A023</br>Designation:</p>
						</div>
						<div class="col1">
							<!--<h2 class="color1">Malik Hussain</h2>
							<p>Roll No: BITF10A023</br>Designation: Content Writer/Designer</p>-->
						</div>
					</div>
				</article>
			</div>
		</div>

	</body>
</html>