@model PicMe.Models.User
 @{
        ViewBag.Title = "Index";
    }

<body id="page5">
    <div class="main">
       
            <div class="wrapper">
                <h1><a href="../Home/index" id="logo">PicUpload</a></h1>

            </div>
            <nav>
                <ul id="menu">

                    <li><a href="../Home/overview"><span>Overview</span></a></li>
                    <li class="active"><a href="../Home/Index"><span>Home</span></a></li>
                    <li><a href="../Home/aboutus"><span>About Us</span></a></li>
                    <li><a href="../Home/contacts"><span>Contact Us</span></a></li>
                    <li class="last"><a href="../Home/Signup"><span>SignUp</span></a></li>
                </ul>
            </nav>
       
        <!--header end-->
        <!--content -->


        <div class="wrapper" style="margin-top:200px;margin-bottom:200px;">
            <form name="LoginForm" id="LoginForm" action="/Home/Verify" method="post" >
                <div  class="bg" style="float:right;"><input type="text" class="input" name ="UserName"id="loginName"></div><span>Username: </span><br><br>

                <div class="bg" style="float:right;"><input type="password" class="input" name="Password"id="password"></div><span>Password: </span>


                <br><br>
                <div style="float:right;">
                    <input class="button1" id="bta" type="submit" value="Login" />
                    <input class="button1" id="Signupbt" type="submit" value="Sign Up" />
                </div>
               

            </form>
        </div>



    </div>
    <div class="bg1">
        <div class="main">
            <article id="content2">
                <div class="wrapper">

                </div>
            </article>
        </div>
    </div>

</body>

