@model IEnumerable<PicMe.Models.Picture>
@{
    ViewBag.Title = "SearchSucccessfull";
}

@{
    ViewBag.Title = "Delete";
}

<head>
    <title></title>
    @section FancyBox{
        <script type="text/javascript" src="~/Scripts/jquery.fancybox-buttons.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.fancybox-media.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.fancybox-thumbs.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.fancybox.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>
        <link href="~/Content/jquery.fancybox-buttons.css" rel="stylesheet" />
        <link href="~/Content/jquery.fancybox-thumbs.css" rel="stylesheet" />
        <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox({
                maxWidth: 800,
                maxHeight: 550,
                fitToView: false,
                width: '70%',
                height: '70%',
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none'
            });
        });
    </script>


</head>
<body id="page5">
    <div class="main">
        <!--header -->
        <header>
            <div class="wrapper">
                <h1><a href="index.html" id="logo">picme.com</a></h1>
                <div id="search">
                    <a href="logout.php><h1 style=" padding-top:0px; font-size:20px;"></h1></a>
                </div>
            </div>
            <nav>
                <ul id="menu">
                    <li><a href="../Pictures/Upload"><span>Upload</span></a></li>
                    <li><a href="../Account/Profile"><span>Profile	</span></a></li>
                    <li><a href="../Pictures/Gallery"><span>Gallery</span></a></li>
                    <li ><a href="../Pictures/PublicPics"><span>Public</span></a></li>
                    <li class="last active"><a href="../Pictures/Search"><span>Search</span></a></li>
                </ul>
            </nav>
        </header>
     
</body>
<p align="center" style="font-size:larger;color:#5f870e">Search Completed</p>

<table>
    <tr style="border: 1px solid white;">
        @{
            int counter = 0;
            foreach (var p in Model)
            {
                counter = counter + 1;
                <td><a class="fancybox" rel="group" href="@p.Location" title="@p.PicName"><img style="border:1px solid white;" src="@p.Location" width="160" height="160" /></a></td>
                <th>
                    @Html.ActionLink("Delete", "DeletePic", new { id = p.PicID })
                </th>
                if (counter == 4)
                {
                <tr></tr>}
            }
        }
    </table>